.Base {
    border-radius: 4px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    width: 140px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
}
