.Container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.HandContainer {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 64px 48px;
}

.ScoreContainer {
    padding: 16px;
    padding-right: 0;
    margin-right: -10px;
}

.Score {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    margin-top: 2px;
    width: 80px;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 24px;
    font-weight: 700;

    span {
        width: 10px;
    }
}

.Cards {
    display: flex;
    padding: 16px 0;
}

.Card {
    margin-left: 0;

    + .Card {
        margin-left: -140px;
    }
}
