.Container {
    padding: 16px 0;
    margin: 0 16px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: white;
}

.critical {
    background-color: red;
}

.success {
    background-color: green;
}
