$mobile: 376px;

.Container {
    width: 480px;
    padding: 24px 0 32px 0;

    @media screen and (max-width: $mobile) {
        width: 320px;
    }
}

.Header {
    font-size: 18px;
    font-weight: 600;
}

.ButtonContainer {
    margin-top: 24px;
}

.PushButton {
    border-color: #000000;
    color: #000000;
}
